services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sgodonto_backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${BACKEND_PORT}
      JWT_SECRET: ${JWT_SECRET}
      CORS_ORIGIN: ${CORS_ORIGIN}
      FORCE_REBUILD: "true"
    ports:
      - "3001:${BACKEND_PORT}"
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: sgodonto_frontend
    ports:
      - "${FRONTEND_PORT:-8085}:80"
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15-alpine
    container_name: sgodonto_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
