<h2 mat-dialog-title class="!font-bold !text-xl text-[#111418] dark:text-white">
    {{data.title}}
</h2>
<mat-dialog-content>
    <p class="text-text-secondary-light dark:text-text-secondary-dark text-base">
        {{data.message}}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="!gap-2 !pb-6 !px-6">
    <button mat-button (click)="onCancel()" class="!text-text-secondary-light !font-bold">
        {{data.cancelText || 'Cancelar'}}
    </button>
    <button mat-flat-button [color]="data.color || 'primary'" (click)="onConfirm()" class="!font-bold !rounded-lg">
        {{data.confirmText || 'Confirmar'}}
    </button>
</mat-dialog-actions>